@charset "UTF-8";
* {
  list-style: none;
  margin: 0;
  padding: 0;
}
* ::-webkit-scrollbar {
  width: 10px;
}
* ::-webkit-scrollbar-track {
  background: #ccc;
}
* ::-webkit-scrollbar-thumb {
  background: #666;
}

body {
  height: 7000px;
}

/*mixin 사용하라면 @import 사용*/
main {
  display: flex;
  justify-content: center;
}

.article {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  box-sizing: border-box;
  background: pink;
}
.article div {
  transition: all 0.5s ease;
  background-image: url("../img/romero.png");
}
.article div:hover {
  filter: blur(4px) saturate(0.5);
}

.btn-red, .btn-white {
  display: inline-block;
  vertical-align: middle;
  min-width: 60px;
  height: 30px;
  background: gray;
  color: #000;
}

.btn-white {
  border-radius: 3px;
}

.btn-red {
  opacity: 1;
}

.article__picture--failed {
  background: red;
  width: 33%;
  height: 170px;
  filter: blur(4px) saturate(0);
  cursor: pointer;
}

.article__picture--orange {
  background: orange;
  width: 33%;
  height: 170px;
  filter: blur(4px) saturate(0);
  cursor: pointer;
}

.article__picture--yellow {
  background: yellow;
  width: 33%;
  height: 170px;
  filter: blur(4px) saturate(0);
  cursor: pointer;
}

.article__picture--green {
  background: green;
  width: 33%;
  height: 170px;
  filter: blur(4px) saturate(0);
  cursor: pointer;
}

.article__picture--sucessed {
  background: blue;
  width: 33%;
  height: 170px;
  filter: blur(4px) saturate(0);
  cursor: pointer;
}

.article__picture--purple {
  background: purple;
  width: 33%;
  height: 170px;
  filter: blur(4px) saturate(0);
  cursor: pointer;
}

.adv__list {
  display: flex;
  justify-content: center;
}

.adv__list--item:nth-child(1) {
  width: 30px;
  height: 30px;
  background: #000;
  margin: 10px;
}

.adv__list--item:nth-child(2) {
  width: 30px;
  height: 30px;
  background: #000;
  margin: 10px;
}

.adv__list--item:nth-child(3) {
  width: 30px;
  height: 30px;
  background: #000;
  margin: 10px;
}

.adv__list--item:nth-child(4) {
  width: 30px;
  height: 30px;
  background: #000;
  margin: 10px;
}

.adv__list--item:nth-child(5) {
  width: 30px;
  height: 30px;
  background: #000;
  margin: 10px;
}

.adv__list--item:nth-child(6) {
  width: 30px;
  height: 30px;
  background: #000;
  margin: 10px;
}